<div>
    <div class="start_page_div">
        <a href='@Url.Action("CryptaList","Crypta")'>Crypto  Monitor page ... </a>
        <p> the page with Crypta list price</p>
    </div>

    <div class="start_page_div">
        <a href='@Url.Action("PersonalData","PersonalCab")'>You personal cabinet</a>
        <p> the place where you can watch you order story</p>
        <p> you personal data and expected cost list</p>
    </div>

    <div class="start_page_div">
        <a href='@Url.Action("Login","Login")'>log out of your account</a>
        <p> You can change you current account</p>
    </div>
</div>    
    